:host {
    display: inline;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.editor-true {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.editor-card {
    margin: 0.5rem 0 1rem 0;
}

.card:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6;
}

.card {
    background-color: white;
    padding: 2em;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.topbar {
    position: absolute;
    right: 19px;
    top: 20px;
    margin: 0;
    padding: 0;
}

.topbar li {
    list-style: none;
}

::content .ace_content {
    width: 100%!important;
}

header {
    border-bottom: solid 1px #efecec;
    margin-bottom: 1em;
    padding-bottom: 1em;
    margin-left: -2em;
    margin-right: -2em;
    margin-top: -2em;
    padding: 1em 2em;
    position: relative;
}

.editor-true header {
    padding: 2em 2em 1.5em;
}

header h4 {
    margin: 0;
    width: 100%;
}

paper-icon-button {
    color: #c3c3c3;
}

paper-icon-button:hover {
    color: #ff6632;
}

iron-dropdown {
    background: #fff;
}

.pre-style{
    white-space: pre-wrap;
    word-break: break-all!important;
    word-wrap: break-word!important;
    max-height: 150px;
    overflow-x: auto; 
}

.drag-me {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: dotted 1px #ccc;
    pointer-events: none;
    z-index: 5;
}

.options {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

::content code {
    white-space: normal;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left
}

.col-md-12 {
    width: 100%
}

.col-md-11 {
    width: 91.66666667%
}

.col-md-10 {
    width: 83.33333333%
}

.col-md-9 {
    width: 75%
}

.col-md-8 {
    width: 66.66666667%
}

.col-md-7 {
    width: 58.33333333%
}

.col-md-6 {
    width: 50%
}

.col-md-5 {
    width: 41.66666667%
}

.col-md-4 {
    width: 33.33333333%
}

.col-md-3 {
    width: 25%
}

.col-md-2 {
    width: 16.66666667%
}

.col-md-1 {
    width: 8.33333333%
}

.iron-selected {
    background: #eee;
}

paper-progress {
    margin-top: 0.5em;
    width: 100%;
}

@media only screen and (max-width:990px) {
    .card {
        width: 100%!important;
    }
}
