:host {
    display: inline;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1em; 
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.settings-wrapper{
    position: relative;
    min-height: 50px;
    background: #ffffff;
    /*box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);*/
    margin-top: 1px;
    border-bottom: solid 1px #f1ebeb;
}
.response-wrapper{
    padding: 0 1em;
}

.card {
    background-color: white;
    padding: 0;
    position: relative;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    overflow: hidden;
    /*padding-bottom: 3em;*/
}
.card.opac-false{
    background: transparent;
}

.toolbar {
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 0;
    padding: 0;
    z-index: 99;
}
.toolbar.left {
    right: auto;
    left: 10px;
}
.toolbar iron-label{
    color: #777;
    font-family: arial;
    font-size: 0.8em;
}

.toolbar li {
    list-style: none;
}

::content .ace_content {
    width: 100%!important;
}

header h4 {
    margin: 0;
    width: 100%;
}

paper-icon-button {
    max-width: 2.6em;
    color: #c3c3c3;
}

paper-icon-button:hover {
    color: #ff6632;
}

iron-dropdown {
    background: #fff;
}




.drag-me {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*border: dotted 1px #ccc;*/
    pointer-events: none;
    z-index: 5;
}

.options {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

::content code {
    white-space: normal;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left
}

.col-md-12 {
    width: 100%
}

.col-md-11 {
    width: 91.66666667%
}

.col-md-10 {
    width: 83.33333333%
}

.col-md-9 {
    width: 75%
}

.col-md-8 {
    width: 66.66666667%
}

.col-md-7 {
    width: 58.33333333%
}

.col-md-6 {
    width: 50%
}

.col-md-5 {
    width: 41.66666667%
}

.col-md-4 {
    width: 33.33333333%
}

.col-md-3 {
    width: 25%
}

.col-md-2 {
    width: 16.66666667%
}

.col-md-1 {
    width: 8.33333333%
}

.iron-selected {
    background: #eee;
}

paper-progress {
    margin-top: 0.5em;
    width: 100%;
}

@media only screen and (max-width:990px) {
    .card {
        width: 100%!important;
    }
}
