
paper-card {
  width: 22em;
  height: 15em;
  margin: .5em;
  background-color:var(--gray-shade-lightest);
  box-shadow:none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading {
  /*@apply(--layout-justified);*/
  font-size: 1.5em;
  font-weight: 500;
  height: 1.67em;
  text-align: center;
}
.heading  a{
    font-size: 0.8em;
}

.card-content .count {
  font-size: 2em;
  font-weight: 300;
}

.icon-holder{
  height: 8em;
}
iron-image{
    width: 100%;
    margin-top:2em;
    height: 5em;
}

.card-actions > :not(.v-separator) {
  margin: .3em 0;
}
.card-actions a{
  @apply(--layout-flex);
}

.card-actions > :not(.v-separator) > span:first-child {
  color: var(--gray-shade-dark);
} 

.v-separator {
  border-right: 1px solid var(--gray-shade-light);
  margin: 0 1em;
}
.addButton {
  @apply(--topButton);
}
.category {
  font-size: 18pt;
}

paper-menu-button {
  padding: 0;
  color: #c9c9c9;
}
paper-button.cancel {
  @apply(--paper-button--cancel);
}

.campaignDiv {
  color: var(--gray-shade-silver);
}
.headingPage {
  padding-top: 0.5em;
}

paper-dialog {
  min-width: 350px;
  z-index:200;
}
.categoryName {
  word-wrap: break-word;
  /*width: 280px;*/
  text-align: center;
}